.footer {
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(126, 144, 179, 0.664);
}

/* .icon {
    width: 40px;
    height: 40px;
} */